<div class="list">
  <form>
    <table class="table list-table">
      <thead>
        <tr class="list-title-row">
          <th class="list-title">Grocery List</th>
        </tr>
      </thead>
      <tbody>
        <tr class="list-item-row" ng-repeat="element in list">
          <td><label><input type="checkbox" ng-model="element.selected"> {{ element.item }}</label></td>
        </tr>
      </tbody>
    </table>
  </form>
  <button class="btn" ng-click="removeItems()"><a>Removed checked items</a></button>
</div>
