<div class="new-container">
  <div class="new-title">
    <h3>Add a new recipe</h3>
  </div>
  <form class="form-horizontal form-new">
    <div class="form-group row">
      <label for="name">Recipe name </label>
      <input type="text" class="form-control" placeholder="Type recipe name here..." ng-model="name">
    </div>
    <div class="form-group row">
      <label for="ingredients">Ingredients </label>
      <textarea class="form-control" placeholder="Copy and paste your list of ingredients" ng-model='ingredients'></textarea>
    </div>
    <div class="form-group row">
      <label for="instructions">Instructions </label>
      <textarea class="form-control" placeholder="Copy and paste the recipe instructions" ng-model='instructions'></textarea>
    </div>
    <div class="form-group row">
      <label for="websource">Web Source </label>
      <input type="text" class="form-control" placeholder="Add the url" ng-model='source'>
    </div>
    <div class="form-group row">
      <label for="image_url">Image Source </label>
      <input type="text" class="form-control" placeholder="Add the url for an image" ng-model='image_url'>
    </div>
    <div class="form-group">
      <div class="checkbox-title">
        <h4>Recipe categories</h4>
        <p>Choose one or more categories</p>
      </div>
      <div class="checkbox" ng-repeat="choice in choices">
        <label><input type="checkbox" ng-model="choice.selected">{{ choice.type }}</label>
      </div>
    </div>
    <br>
    <div class="form-group row">
      <button type="submit" class="btn" ng-click="getRecipeData()"><a ui-sref="show-new">Submit</a></button>
    </div>
  </form>
</div>

<style type="text/css">
  .new-container {
    background-color: #FFFFFF;
    width: 75%;
    border: 1px solid #FFFFFF;
    position: relative;
    top: 0;
    left: 175px;
    margin-bottom: 100px;
  }
  .new-title {
    position: relative;
    left: 6%;
  }
  .form-new {
    position: relative;
    left: 5%;
    width: 80%;
    padding: 3%;
  }
</style>
