<div class="edit-container" ng-controller="EditRecipeCtrl">
  <div class="edit-title">
    <h3>Edit recipe: {{ editRecipe.recipename }}</h3>
  </div>
  <form class="form-horizontal form-edit">
    <div class="form-group row">
      <label for="name">Recipe name </label>
      <input type="text" class="form-control" value="{{ editRecipe.recipename }}" ng-model="editRecipe.recipename">
    </div>
    <div class="form-group row">
      <label for="ingredients">Ingredients </label>
      <textarea class="form-control" ng-model="editRecipe.ingredients">{{ editRecipe.ingredients }}</textarea>
    </div>
    <div class="form-group row">
      <label for="instructions">Instructions </label>
      <textarea class="form-control" ng-model="editRecipe.instructions">{{ editRecipe.instructions }}</textarea>
    </div>
    <div class="form-group row">
      <label for="websource">Web Source </label>
      <input type="text" class="form-control" value="{{ editRecipe.source }}" ng-model="editRecipe.source">
    </div>
    <div class="form-group row">
      <label for="image_url">Image Source </label>
      <input type="text" class="form-control" value="{{ editRecipe.image_url }}" ng-model="editRecipe.image_url">
    </div>
    <div class="form-group">
      <div class="checkbox-title">
        <h4>Recipe categories</h4>
        <p>Choose one or more categories</p>
      </div>
      <div class="checkbox" ng-repeat="choice in recipeChoices">
        <label><input type="checkbox" id="recipeChoice" ng-checked="{{ choice.selected }}" ng-model="choice.selected">{{ choice.type }}</label>
      </div>
    </div>
    <br>
    <div class="form-group row">
      <button type="submit" class="btn" ng-click="saveRecipe()"><a>Submit</a></button>
    </div>
  </form>
</div>

<style type="text/css">

</style>
