<div ui-view="edit">
  <div class="container recipe-container" ng-controller="ViewRecipeCtrl">
    <div class="row">
      <div class="col-lg-8">
        <h1 class="title">{{ recipe.recipename }}</h1>
        <a ui-sref="recipes.detail.edit"><i class="fa fa-pencil" aria-hidden="true">Edit Recipe</i></a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 thumbnail" >
        <img ng-src="{{ recipe.image_url }}">
        <p>Source: <a class="details-link" href="{{ recipe.source }}">{{ source }}</a></p>
      </div>
      <div class="col-lg-8">
        <form ng-submit="selectedIngredients()">
          <table class="table table-condensed ingredients">
            <thead>
              <tr>
                <th>Ingredients</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="ingredient in ingredients">
                <td><label><input type="checkbox" ng-model="ingredient.selected"> {{ ingredient.item }}</label></td>
              </tr>
            </tbody>
          </table>
          <a ui-sref="list"><button type="submit" id="groceryLink" ng-click="saveItems()" class="btn">Add to grocery list</button></a>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ol><h4>Instructions</h4>
          <li ng-repeat="instruction in instructions track by $index">{{ instruction }}</li>
        </ol>
      </div>
    </div>
  </div>
</div>
